<section id="screenshots" class="section screenshots-area ptb_100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <!--<span class="d-inline-block rounded-pill shadow-sm fw-5 px-4 py-2 mb-3">
                        <i class="far fa-lightbulb text-primary mr-1"></i>
                        <span class="text-primary">Vr</span>
                        Réalisations
                    </span>-->
                    <h2 class="text-capitalize">Nos réalisations & projets</h2>
                    <p class="d-none d-sm-block mt-4">BrainByte étant une entreprise oeuvrant en matières de la technologie de l'information. Nous avons réalisé les projets suivants</p>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- App Screenshot Slider Area -->
                <div class="app-screenshots">
                    <!-- Single Screenshot Item -->
                    <div class="single-screenshot">
                        <img src="assets/img/750.jpg" alt="">
                        <div>
                            <h2>dTax</h2>
                            <hr>
                            <p>c'est un system avancé de gestion des taxes, impots, redevances,... Il travaille aussi en
                                mode offline pour garantir la contuinité de service même dans l'absence de la connexion
                                internet <br><a _ngcontent-dxp-c62="" href="/contact" class="btn btn-bordered mt-4">Lire
                                    suite</a></p>
                        </div>
                    </div>
                    <!-- Single Screenshot Item -->
                    <div class="single-screenshot">
                        <img src="assets/img/750 namba.jpg" alt="">
                        <div>
                            <h2>NambAp</h2>
                            <hr>
                            <p>c'est un system de gestion de flow de plaques d'immatriculation des véhicules de la Préisdence <br><a _ngcontent-dxp-c62="" href="/contact" class="btn btn-bordered mt-4">Lire
                                    suite</a></p>
                        </div>
                    </div>
                    <div class="single-screenshot">
                        <img src="assets/img/750.jpg" alt="">
                        <div>
                            <h2>dTax</h2>
                            <hr>
                            <p>c'est un system avancé de gestion des taxes, impots, redevances,... Il travaille aussi en
                                mode offline pour garantir la contuinité de service même dans l'absence de la connexion
                                internet <br><a _ngcontent-dxp-c62="" href="/contact" class="btn btn-bordered mt-4">Lire
                                    suite</a></p>
                        </div>
                    </div>
                    <!-- Single Screenshot Item -->
                    <div class="single-screenshot">
                        <img src="assets/img/phar.jpg" alt="">
                        <div>
                            <h2>MedFold</h2>
                            <hr>
                            <p>c'est un system de gestion d'une entité médicale comme Centre de centre, hopital permettant la gestion des patients, hospitalisés,  <br><a _ngcontent-dxp-c62="" href="/contact" class="btn btn-bordered mt-4">Lire
                                    suite</a></p>
                        </div>
                    </div>
                    <!-- Single Screenshot Item -->
                    <div class="single-screenshot">
                        <img src="assets/img/750 showpay.jpg" alt="">
                        <div>
                            <h2>ShowPay</h2>
                            <hr>
                            <p>c'est une solution wallet permettant intégrant plusieurs services comme transfert d'argent (Banque, credit carte,mobile money), achat en lignes des services (réservation billet d(avion)) et phyi <br><a _ngcontent-dxp-c62="" href="/contact" class="btn btn-bordered mt-4">Lire
                                    suite</a></p>
                        </div>
                    </div>
                    <!-- Single Screenshot Item -->
                   
                </div>
            </div>
        </div>
    </div>
</section>