<section class="section download-area overlay-dark ptb_100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-9">
                <!-- Download Text -->
                <div class="download-text text-center">
                    <h2 class="text-white">Nos solutions de payments sécurisés</h2>
                    <p class="text-white my-3 d-none d-sm-block">Tant que pour le gouvernement que d'autres entités (Entreprise, particulier, ONG, marchant) nos systèmes de paiement sécurisé garantissent vos transactions jusqu'à vos comptes</p>
                    <p class="text-white my-3 d-block d-sm-none">Avec multipl mode de paiement</p>
                    <!-- Store Buttons -->
                    <div class="button-group store-buttons d-flex justify-content-center">
                        <a href="/thank-you">
                            <img src="assets/img/modepay.png" alt="">
                        </a>
                       
                    </div>
                    <span class="d-inline-block text-white fw-3 font-italic mt-3">* Vos fidèles peuvent payer partout où ils se retrouveront</span>
                </div>
            </div>
        </div>
    </div>
</section>