<section id="features" class="section features-area bg-gray overflow-hidden ptb_100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <h2>Nos services</h2>
                    <p class="d-none d-sm-block mt-4">BrainByte vous apport les services suivants</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <!-- Icon Box -->
                <div class="icon-box text-center p-4 wow fadeInRight" data-aos-duration="2s" data-wow-delay="0.4s">
                    <!-- Featured Icon -->
                    <div class="featured-icon mb-3">
                        <span class="flaticon-notification"></span>
                    </div>
                    <!-- Icon Text -->
                    <div class="icon-text">
                        <h3 class="mb-2">Développement</h3>
                        <p>Nous développons des applications ETAX, PGI, E-LEARING, E-COMMERCE...</p>
                    </div>
                </div>
            </div>
           
         
            <div class="col-12 col-md-6 col-lg-4">
                <!-- Icon Box -->
                <div class="icon-box text-center p-4 wow fadeInRight" data-aos-duration="2s" data-wow-delay="0.8s">
                    <!-- Featured Icon -->
                    <div class="featured-icon mb-3">
                        <span class="flaticon-language"></span>
                    </div>
                    <!-- Icon Text -->
                    <div class="icon-text">
                        <h3 class="mb-2">WEB</h3>
                        <p>Nous créons des sites web dynamiques que statique, blog, forums, communautaires, vitrine, à un cout abordable.</p>
                    </div>
                </div>
            </div>
           
           
            <div class="col-12 col-md-6 col-lg-4">
                <!-- Icon Box -->
                <div class="icon-box text-center p-4 wow fadeInUp" data-aos-duration="2s" data-wow-delay="0.4s">
                    <!-- Featured Icon -->
                    <div class="featured-icon mb-3">
                        <span class="flaticon-settings"></span>
                    </div>
                    <!-- Icon Text -->
                    <div class="icon-text">
                        <h3 class="mb-2">Consultance</h3>
                        <p>Notre accompagnement technologique reste opérationnel pour vous aider sur l'amélioration et de prise des décisions sur la technologie, vos réalisations.</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>