<section class="section discover-area bg-gray overflow-hidden ptb_100">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-12 col-lg-6 order-2 order-lg-1">
                <!-- Discover Thumb -->
                <div class="service-thumb discover-thumb mx-auto">
                    <img src="assets/img/img_750x786.jpg" alt="">
                </div>
            </div>
            <div class="col-12 col-lg-6 order-1 order-lg-2">
                <!-- Discover Text -->
                <div class="discover-text pt-4 pt-lg-0 px-0 px-lg-4">
                    <h2 class="pb-4">Nos qualités, effecicatés, rapidité, technicité, Assurance</h2>
                    <!-- Check List -->
                    <ul class="check-list">
                        <li class="py-1">
                            <!-- List Box -->
                            <div class="list-box media">
                                <span class="icon align-self-center"><i class="fas fa-check"></i></span>
                                <span class="media-body pl-2">Nous sommes plus productifs, et nous livrons rapidement.</span>
                            </div>
                        </li>
                        <li class="py-1">
                            <!-- List Box -->
                            <div class="list-box media">
                                <span class="icon align-self-center"><i class="fas fa-check"></i></span>
                                <span class="media-body pl-2">Nos applications sont sures et précises.</span>
                            </div>
                        </li>
                        <li class="py-1">
                            <!-- List Box -->
                            <div class="list-box media">
                                <span class="icon align-self-center"><i class="fas fa-check"></i></span>
                                <span class="media-body pl-2">A des prix abordables .</span>
                            </div>
                        </li>
                        <li class="py-1">
                            <!-- List Box -->
                            <div class="list-box media">
                                <span class="icon align-self-center"><i class="fas fa-check"></i></span>
                                <span class="media-body pl-2">All the Lorem Ipsum generators on the Internet tend to repeat necessary.</span>
                            </div>
                        </li>
                    </ul>
                    <div class="icon-box d-flex mt-3">
                        <a _ngcontent-xtt-c62="" href="/contact" class="btn btn-bordered mt-4">Lire plus sur dTax</a>
                        <!--
                        <div class="service-icon">
                            <span><i class="fas fa-bell"></i></span>
                        </div>
                        <div class="service-icon px-3">
                            <span><i class="fas fa-envelope-open"></i></span>
                        </div>
                        <div class="service-icon">
                            <span><i class="fas fa-video"></i></span>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>